@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  font-family: Inter;
  max-width: 1000px;
  padding: 1em;
  line-height: 1.3;
  font-size: 1.2em;
  min-height: calc(100vh - 200px);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

h1 {
  font-weight: normal;
  font-size: 1.75em;
}

h2 {
  font-weight: normal;
  font-size: 1.5em;
}

div.deadbody {
  min-height: calc(100vh - 100px);
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
  text-decoration: none;
}

a:hover {
  background-color: #F0F0EE;
  text-decoration: none;
}

a.projectlink:hover {
  background-color: white;
}

img {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
  padding-left: 0px;
}

div.end {
  height: 220px;
  display: table-cell;
  vertical-align: bottom;
}

footer {
  height: 170px;
  left: 1em;
  bottom: 0;
  padding: 0em;
  width: 100%;
}
