@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  font-family: Inter;
  max-width: 680px;
  padding: 1em;
  line-height: 1.3;
  font-size: 1.1em;
  min-height: calc(100vh - 200px);
}

div.telo {
  min-height: calc(100vh - 150px);
}

footer {
  height: 50px;
  left: 1em;
  bottom: 0;
  padding: 0em;
  width: 100%;
}

@media only screen and (max-device-width: 480px) {
	body {
		max-width: 480px;
		margin: 0 auto;
		font-size: 17px;
	}
