@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  font-family: Inter;
  max-width: 1000px;
  padding: 1em;
  line-height: 1.3;
  font-size: 1.2em;
  min-height: calc(100vh - 200px);
}

h1 {
  font-weight: normal;
  font-size: 1.75em;
}

a.buttlink:link {
  display: block;
  width: 150px;
  height: 90px;
  background: url(buttonblue.svg) repeat-x left bottom;
  color: blue;
  background-color: white;
}

a.buttlink:visited {
  display: block;
  color: blue;
  background-color: white;
  text-decoration: none;
}

a.buttlink:hover {
  display: block;
  color: #FFBF00;
  background: url(buttonorange.svg) repeat-x left bottom;
  background-color: white;
  text-decoration: none;
}

a.backlink:link {
  display: block;
  width: 150px;
  height: 90px;
  background: url(backblue.svg) repeat-x left bottom;
  color: blue;
  background-color: white;
}

a.backlink:visited {
  display: block;
  color: blue;
  background-color: white;
  text-decoration: none;
}

a.backlink:hover {
  display: block;
  color: #FFBF00;
  background: url(backorange.svg) repeat-x left bottom;
  background-color: white;
  text-decoration: none;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
  text-decoration: none;
}

a:hover {
  background-color: #FFBF00;
  text-decoration: none;
}


img {
	max-width: 70%;
}

div.telo {
  min-height: calc(100vh - 100px);
}

div.c2020 {
  height: 220px;
  display: table-cell;
  vertical-align: bottom;
}

table, tr, td {
  width: 80%;
  text-align: left;
  vertical-align: bottom;
  overflow: hidden;
  padding: 0em;
}

img.tablepic {
  max-width: 100%;
  max-height: 100%;
}

td.tableinfo {
  padding: 7px;
  width: 300px;
  font-size: 16px;
}

footer {
  height: 170px;
  left: 1em;
  bottom: 0;
  padding: 0em;
  width: 100%;
}

@media only screen and (max-device-width: 480px) {
	body {
		max-width: 480px;
		margin: 0 auto;
		font-size: 16px;
	}

td {
  width: 10000px;
}

td.leftcol {
      vertical-align: top;
     }
